.pointsform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    color:rgb(77, 9, 9);
    font-size:25px;
    font-size:;
}

.pointsform label{
 background-color: rgb(77, 9, 9);
 border-radius:5%;
 padding:5px;
 margin-bottom: 10px;
 color:white;
}

.turn{
    background-color: rgb(77, 9, 9);
    border-radius:5%;
    padding:5px;
    margin-bottom: 10px;
    text-align:center;
    color:white; 
}


  
.pointsform div{
  padding: 10px 0px;
 
  
}
.restOfPlayers{
    display: flex;
    flex-direction: row;
}
.playerColumn{
margin:5px 10px;
text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; 
}

/* #input1{
    display:none;
} */

/* .patata:focus{ outline: 2px solid black}  */